# Development files
demo/
index.html
main.js
public/
vite.config.js

# Editor configs
.editorconfig

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# IDE files
.vscode/
.idea/

# Local files
*.local

